### Build artefacts
################################################################################

## HPack artefact
*.cabal

## HLint artefact
report.html

## Stack artefacts
.stack-work/

## HPC
.hpc/
*.tix
hpc_report/

## Profiling
*.prof
*.hp
*.ps
*.eventlog

## Benchmark artefact
bench.html

## Core dump
core-html*

## Test results
results.xml

## Tags
tags
TAGS


### OS & editors junk
################################################################################

## macOS / OS X
*.DS_Store
*~
.Trash-*

## VScode
.vscode
