[project]
	description = Mr Gumby, a stupid slackbot.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Konrad (kgadek)
[access "refs/for/refs/*"]
	read = group user/Konrad (kgadek)
	push = group user/Konrad (kgadek)
	label-Code-Review = -2..+2 group user/Konrad (kgadek)
	label-Verified = -1..+1 group user/Konrad (kgadek)
	rebase = group user/Konrad (kgadek)
	removeReviewer = group user/Konrad (kgadek)
	submit = group user/Konrad (kgadek)
[access "refs/heads/*"]
	read = group user/Konrad (kgadek)
	create = group user/Konrad (kgadek)
	push = +force group user/Konrad (kgadek)
	pushMerge = group user/Konrad (kgadek)
[access "refs/tags/*"]
	push = group user/Konrad (kgadek)
	push = +force group user/Konrad (kgadek)
